main{
	 margin-top: 20px;
	 width: 70%;
	 padding-left: 50px;}

h2{
	text-align: center;
	color: black;
	font-family: Italic}

footer{
		margin-top: 40px}
.nuevosProd{
	background-color: white;
	color: solid black;
	display: block;
	width: 70%;
}